@mixin btn {
    margin: 0;
    padding: 10px 20px;
    font-size: 14px;
	vertical-align: middle;
	color: #000;
	text-align: center;
    text-decoration: none;
	background-color: rgb(255, 214, 91);
	border: none;
    border-radius: 4px;
	outline: none;
}

@mixin btns_group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Open Sans';
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

// section {
   // padding: 0 150px;
// }

h1 {
    font-family: 'Open Sans';
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}


label {
    display: block;
    margin-bottom: 20px;
}

button {
    @include btn;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgb(255, 229, 150);
    }
}

.main {
    display: flex;
    justify-content: space-around;
}

div {
    margin-bottom: 50px;
}

// Drag & Drop elements styles

.tasks__title {
    margin-bottom: 20px;
    // text-align: center;
    // text-align: center;
    // text-transform: uppercase;
   }
  
  .tasks_list, .messages_list {
    width: 500px;
    margin: 0;
    padding: 0;
  
    list-style: none;
  }
  
  .tasks_item {
    transition: background-color 0.5s;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border: 2px dashed #b2d9d0;
    border-radius: 10px;
    cursor: move;
    color: #fff;
    // background-color: #dff2ef;
    background-color: #46d265;
    // background-color: green;
  
    transition: background-color 0.5s;
  }
  
  .tasks_item:last-child {
    margin-bottom: 0;
  }
  
  .selected {
    background-color: blue;
    opacity: 0.6;
  }

  .start_clear_btns {
    @include btns_group;
    width: 550px;
  }
  .task_control {
    @include btns_group;
  }

  .hidden {
    display: none;
  }

.control {
    width: 600px;
}

.choice {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(167, 167, 167);
    .choice__title {
        margin-bottom: 20px;
    }
}

  // стили форм выбора файлов

.input-file {
	position: relative;
	display: inline-block;
}

.input-file-text {
    padding: 0 10px;
    line-height: 40px;
    text-align: left;
    height: 40px;
    // display: inline-block;
    float: right;
    width: 300px;
    border-radius: 0px 6px 6px 0px ;
    border: 1px solid #ddd;
    overflow: hidden;
}
.input-file-btn {
    @include btn;
    position: relative;
	display: inline-block;
    width: 250px;
	height: 40px;
    cursor: pointer;
	line-height: 22px;
    transition: background-color 0.2s;
    border-radius: 4px 0 0 4px;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: rgb(255, 229, 150);
}
.input-file:active .input-file-btn {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}


// messages

.error-message {
    color: red;
}

.info-message {
    color: blue;
}