@mixin btn {
    margin: 0;
    padding: 10px 20px;
    font-size: 14px;
	vertical-align: middle;
	color: #000;
	text-align: center;
    text-decoration: none;
	background-color: rgb(255, 214, 91);
	border: none;
    border-radius: 4px;
	outline: none;
}

@mixin btns_group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

html { overflow-x: hidden; 
    margin-right: calc(-1 * (100vw - 100%));
}

* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Open Sans';
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

// section {
   // padding: 0 150px;
// }

h1 {
    font-family: 'Open Sans';
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}


label {
    display: block;
    margin-bottom: 20px;
}

button {
    @include btn;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgb(255, 229, 150);
    }
}

.main {
    display: flex;
    justify-content: space-around;
}

// div {
//     margin-bottom: 50px;
// }

ul {
    width: 500px;
}

// Drag & Drop elements styles

.specs_panel {
    width: 800px;
}

.tasks__title {
    margin-bottom: 20px;
    text-align: center;
}
  
.task_box, .btn_box, .drag_control {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    gap: 10px;
}

.drag_control {
    width: 100%;
    gap: unset;
    margin-bottom: 45px;
}

.task_box {
    margin-bottom: 20px;
    justify-content: center;
}

.btn_box {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(167, 167, 167);
}
  
.tasks_list, .messages_list, .tasks_canceled {
    margin: 0;
    padding: 10px 5px;
    list-style: none;
    border-radius: 10px;
}

.tasks_canceled {
    background-color: rgb(196, 195, 195);
    border: 1px solid rgb(167, 167, 167);
    position: relative;
    &::before {
        display: block;
        position: absolute;
        top: 20px;
        left: 109px;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
        content: "зона неотбора";
        z-index: 0;
    }
}

.tasks_list {
    border: 1px solid rgb(167, 167, 167);
}
  
.tasks_item {
    transition: background-color 0.5s;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border: 2px dashed #b2d9d0;
    border-radius: 10px;
    cursor: move;
    color: #fff;
    background-color: #46d265;
    position: relative;
    z-index: 100;
  
    transition: background-color 0.5s;
}
  
.tasks_item:last-child {
    margin-bottom: 0;
}

.task_control {
    @include btns_group;
    
}

.centered {
    width: 500px;
    margin: 0 auto;
}

.disabled {
    background-color: rgb(196, 195, 195);
    &:hover {
        background-color: rgb(196, 195, 195);
    }
}
  
.selected {
    background-color: blue;
    opacity: 0.6;
}

.clicked {
    background-color: rgb(247, 0, 255);
}

.start_clear_btns {
    @include btns_group;
    width: 550px;
}


.hidden {
    display: none;
}

.control {
    width: 600px;
}

.choice {
    margin-bottom: 40px;
   
    .choice__title {
        margin-bottom: 20px;
    }
}

.underline {
    width: 550px;
    height: 1px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

  // стили форм выбора файлов

.input-file {
	position: relative;
	display: inline-block;
}

.input-file-text {
    width: 300px;
    height: 40px;
    float: right;
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px;
    text-align: left;
    border-radius: 0px 6px 6px 0px ;
    border: 1px solid #ddd;
    overflow: hidden;
}
.input-file-btn {
    @include btn;
    position: relative;
	display: inline-block;
    width: 250px;
	height: 40px;
    cursor: pointer;
	line-height: 22px;
    transition: background-color 0.2s;
    border-radius: 4px 0 0 4px;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: rgb(255, 229, 150);
}
.input-file:active .input-file-btn {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}


// messages

.error-message {
    color: red;
}

.info-message {
    color: blue;
}